html {
  position: relative;
  min-height: 100%;
}

.body {
  background-image: url("circles-light");
  height: 100vh;
  padding: 0px;
  margin: 0 auto;
  font-family: "Berkshire Swash", "Helvetica Neue", Helvetica, sans-serif;
  background-size: cover;
}
header {
  width: 100%;
}

h1 {
  color: #03565a;
  border: 15px rgb(39, 158, 134)
  padding: 50px;
  font-size: 60px;
  border-radius: 20px;
  position: absolute;
  bottom: 10px;
  font-style: oblique 60deg;
}

img {
    display: block;
    margin: 0 auto;
    padding: 5px;
    max-width: 800px;
    border-radius: radius 25px;
}

#navbarText {
  float: right;
  margin-right: 40px;
  padding: 15px;
}

.navbar {
  background-color: #fff;
  border-bottom: 7px solid #cccc;
}

h2 {
  color: #03565a;;
  background-color: #fff;
  text-align: left;
  border-bottom: 4px solid #cccc;
}

h3 {
  color: #03565a;;
  background-color: #fff;
  text-align: center;
  border-bottom: 4px solid #cccc;
}

h4 {
  color: #03565a;;
  background-color: #fff;
  text-align: center;
  border-bottom: 4px solid #cccc; 
}

#content-box {
  position: relative;
  border: 15px solid #cccc;
  background-color: white;
  width: 960px;
  height: 100%;
  padding: 15px;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 40px;
  box-sizing: border-box;
}

#myphoto {
  height: 225px;
  width: 200px;
  vertical-align: baseline;
  float: left;
  margin-right: 25px;
  border-radius: 25px;
}

#patternphoto {
  height: 160px;
  width: 1200px;
  vertical-align: baseline;
  float: middle;
  border-radius: 25px;
}

#video {
    height:325px;
    width: 520px;
    background-color: #03565a; 
    border-radius: 25px;
}

p1 {
  color: rgb(70, 78, 78) !important ;
  line-height: 1.5;
  font-weight: 600;
  margin: 10px 0 10px;
}

p2 {
  color: rgb(70, 78, 78) !important ;
  line-height: 1.5;
  font-weight: 600;
  margin: 10px 0 10px;
}

p3 {
  color: rgb(70, 78, 78) !important ;
  line-height: 1.5;
  font-weight: 600;
  margin: 10px 0 10px;
}

p4 {
  color: rgb(70, 78, 78) !important ;
  line-height: 1.5;
  font-weight: 600;
  margin: 10px 0 10px;
}

pre:hover {
  background-color: rgba(16, 149, 194, 0.667);
}

.pacmen exercise {
  position: static;
  margin: 20px;
  border: 4px solid #cccc;
  background-color: #cccccccc;
  color: #03474a;
  border: 1px rgb(72, 83, 93)
}

.eye exercise {
  position: static;
  margin: 20px;
  border: 4px solid #cccc;
  background-color: #cccccccc;
  color: #03474a;
  border: 1cm rgb(72, 83, 93)
}

.real time bus tracking exercise {
  position: static;
  margin: 20px;
  border: 4px solid #cccc;
  background-color: #cccccccc;
  color: #03474a;
  border: 1px rgb(72, 83, 93)
}

p {
  color: #03474a;
  background-color: rgba(22, 133, 181, 0.667);
  border: rgb(56, 54, 54) 2px;
  width: 100%;
  padding: 20px;
  margin: 0px !important;
  background: linear-gradient(178deg, rgba(201, 234, 252, 0.51) 14.9%, rgba(139, 192, 216, 0.73) 80%);
}

.footer {
    text-align: center;
    color:#4aaa;
}

.clearfix::after {
  content: "";
  display: inside;
  clear: both;
}
